/* Additional custom styling */

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.search-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: sticky;
    top: 120px;
    align-self: flex-start;
    margin-bottom: 20px;
}

/* Add media query for larger screens */
@media (min-width: 769px) {
    .search-form {
        width: 300px; /* Reset the width for larger screens */
        max-width: none;
        padding: 20px;
    }
}

/* Style for the recipe cards */
.recipe-card {
    border: 1px solid #eee;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.recipe-card h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.recipe-card p {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Flexbox layout for the main container */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 80px;
}

/* Style for the recipe results section */
.recipe-results {
    flex-grow: 1;
    /* margin-left: 20px; */
}

/* Add media query for larger screens */
@media (min-width: 769px) {
    .recipe-results {
        width: 100%; /* Adjust width for larger screens */
        margin-left: 0; /* Remove left margin on larger screens */
        padding: 0 20px; /* Add padding to the left and right of cards */
    }
}
